
body {
    background-color: #D0EADE;
}

.background {
   position:relative;
   display:flex;
   justify-content: center;
   align-items: center;
}

.background img {
    margin-top: -3%;
}
/* .typewriter{
  font-family:Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  position: absolute;
  top: 15%;
  left:53%;
  right:30%;
  font-size: 2vh;
  
} */
@keyframes typing {
    from {
      width: 0;
    }
  }
  
  /* Apply the typewriter effect to the .typewriter class */
  .typewriter {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    position: absolute;
    top: 15%;
    left: 53%;
    right: 30%;
    font-size: 2vh;
  }


.links {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    top: 100px;
    left: 30px;
    padding: 10px;
    background-color: #f2f6f4;
    border-radius: 10px;
}

.links i {
    color: #587D6A;
    width: 48px;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .typewriter{
        font-size: 3vh;
    }
    /* hide the big links  */
    
}
@media screen and (min-width: 1280px) {
    .typewriter{
        font-size: 4vh;
        right: 25%;
      }

      /* hide the small links */
}