
body {
    background-color: #D0EADE !important;
    
}
.content-container {
  margin-top: 70px;
}
.background {
   position:relative;
   display:flex;
   justify-content: center;
   align-items: center;
}

.background_img {
  margin-top: -4%
}
/* .typewriter{
  font-family:Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  position: absolute;
  top: 15%;
  left:53%;
  right:30%;
  font-size: 2vh;
  
} */
@keyframes typing {
    from {
      width: 0;
    }
  }
  
  /* Apply the typewriter effect to the .typewriter class */
  .typewriter {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    position: absolute;
    top: 15%;
    left: 53%;
    right: 30%;
  }
  .typewriter {
    font-size: 25px;
  }
  
  .line {
    height: 1.2em;
    overflow: hidden;
  }


.links {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    top: 100px;
    left: 30px;
    padding: 10px;
    background-color: #f2f6f4;
    border-radius: 10px;
}

.links i {
    color: #587D6A;
    width: 48px;
    margin-bottom: 10px;
}

.links i:hover {
  opacity: 0.6;
}

/* the projects stuff */
.title {
  text-align: center;
  margin-top: 100px;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  font-size: 25px;
  color: black;
  border-top: 5px dashed #587D6A;
  border-bottom: 5px dashed #587D6A;
}

.game-container {
  justify-content:  center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.game-card {
  background-image: url("../assets/game_card.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px;
  width: 350px;
  height: 350px;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-img {
  margin-top:-95px;
  width:330px;
  display: flex;
}

.game-img-vert {
  margin-top:-95px;
  height: 230px;
  display: flex;
}
/* .body {
  max-width: 100%;
  max-height: 100%;
} */

/***************************************


@media screen and (min-width: 768px) {
    .typewriter{
        font-size: 3vh;
    }
    /* hide the big links  */
    

@media screen and (min-width: 1280px) {
    /* .typewriter{
        font-size: 3vh;
        right: 25%;
      } */

      /* hide the small links */
}