

.navbar-nav {
  margin-left: auto;
}
/* .navbar {
  border-bottom: 2px solid #587D6A;
} */
.navbar-toggler {
  border: none;
  margin-left:auto;
  margin-top: -10px;
}

.navbarNav {
  margin-left: auto;
}

.navbar {
  font-family:'Courier New', Courier, monospace;
}

.navbar-nav .nav-link {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: black;
}

.navbar-nav .nav-link:hover {
  background-color: white; /* Replace with your desired hover color */
  color:black; /* Replace with your desired text color on hover */
  border-radius: 15px;
}
.navbar-nav .nav-link{
  margin-right: 20px;
  border: 1px dashed #587D6A;
  text-align: center;
}

.navbar-brand img{
  width: 100px;
}