
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #d1b5dd;
  }
  .game_card img {
	width: 50%;
	object-fit: cover;
  }
  

  /* body {
    background-color:#D0EADE;
  } */

  .title {
	text-align: center;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    font-size: 25px;
    color: black;
  }

  .category {
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  
  /* .body {
    max-width: 100%;
    max-height: 100%;
  } */

/***************************************
